.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
  text-align: center;
  grid-template-columns: 12fr;
  grid-template-rows: 6fr;
}


